.container {
  width: 9em;
  height: 2.2em;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--secondary);
  font-size: var(--small);
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
}
.container:hover {
  background-color: var(--button);
}
